body{
    text-align: center;
}
.first{
    height: 200px;
    width: 200px;
    background-color: rgb(174, 0, 255);
    float: left;
    margin-right: 10px;
    text-align: center;
}
.second{
    height:  200px;
    width:  200px;
    background-color: rgb(255, 115, 0);
    float: left;
    text-align: center;
}